.inNav{
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: inherit;
}

.inNav .nav-link{
    margin-left: 20px;
}

#navImg{
    background-color: white;
    border-radius: 100%;
}

.container-fluid img{
    width: fit-content !important;
}

.nav-link{
    font-size: 18px;
    transition: 0.5s;
    margin-left: 50px;
    font-weight: bolder;
    color: white !important;
}

.navbar-brand{
    font-size: 27px;
    margin-left: 10px;
    font-family: arial;
    font-weight: bolder;
}

.bg-body-tertiary{
    background-color: #ffc444 !important;
}

.nav-link.active{
    font-weight: bolder;
    color: white !important;
} 

.nav-link:hover{
    transition: 0.5s;
    color: gray !important;
}



